.create-subaddress-container {
    width: -webkit-fill-available;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
        margin-bottom: 10px;
    }

    input { 
        width: -webkit-fill-available;
    }

}

.form-buttons-container {
    margin-top: 15px;
    
    button:first-of-type {
        margin-right: 10px;
    }
}