/****************** 
*
* Global styles
* 
********************/

.App {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

textarea {
  border-radius: 5px;
  width: -webkit-fill-available;
  background-color: #2d3748;
  color: #ffff;
  height: 50px;
}

input {
  border-radius: 5px;
  color: #ffff;
  background-color: #2d3748;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(133, 133, 133);
  padding: 4px;
}

button {
  font-size: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #2d3748;
  border-style: solid;
  border-color: #2d3748;
  border-width: 2px;
  border-radius: 5px;
  padding: 15px;
}


/****************** 
*
* Loading Ring
* 
********************/

.loading-container {
  margin: auto;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}